* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8a2be2;
    font-family: "Roboto",sans-serif;
    overflow: hidden;
}
.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    animation: text 2s linear infinite;
}
.loader{
    height: 3em;
    width: 3em;
    border: 4px solid white;
    border-right-color: #5a5a5a;
    flex-direction: column;
    border-radius: 2.2rem;
    animation: loader 0.7s linear infinite;
}

@keyframes loader {
    /* 0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);} */
    100% { transform: rotate(360deg);}
}
/*  */
